<div class="login-page" fxLayout="row" fxLayoutAlign="center center">
  <mat-card class="box">
    <mat-card-header>
      <mat-card-title>Увійти</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <form [formGroup]="loginForm" class="form">
        <p>
          <mat-form-field class="full-width">
            <input type="email" matInput placeholder="Нікнейм" formControlName="username">
          </mat-form-field>
        </p>

        <p>
          <mat-form-field class="full-width">
            <input type="password" matInput placeholder="Пароль" formControlName="password">
          </mat-form-field>
        </p>

        <button mat-stroked-button color="accent" class="btn-block" (click)="login()">Увійти</button>
      </form>
    </mat-card-content>
  </mat-card>
</div>
