<div class="home-component">
  <mat-card class="box" *ngIf="userRole === 'USER'">
    <mat-card-header>
      <mat-card-title>Рівень: {{gradation}}</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <div *ngIf="completedTasksCount && completedTasksCount !== 0">
        <p>Кількість виконаних завдань: {{completedTasksCount}}</p>
        <p *ngIf="needCount">До наступного рівня ще: {{needCount}}</p>
      </div>
      <p *ngIf="!completedTasksCount || completedTasksCount === 0">Спробуй виконати якесь завдання</p>
    </mat-card-content>
  </mat-card>

  <div *ngIf="userRole === 'RECRUITER'">
    <div class="no-users">
      <mat-card class="box">
        <mat-card-header>
          <mat-card-title>Привіт</mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <p>Рекомендую відкрити меню :)</p>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
</div>
